.chat {
	width: 100%;
	height: 360px;
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(208, 208, 208);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.titleBar {
	background-color: black;
	font-size: 30px;
	width: 100%;
	height: 80px;
	/* The title bar should not shrink when the screen is small */
	min-height: 80px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.messagesList {
	font-size: 36px;
	height: 100%;
	width: 100%;
	flex-grow: 1;
	box-sizing: border-box;
	padding: 20px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 15px;
}

.button {
	background-color: #007AFF;

	height: 10%;
	aspect-ratio: 1/1;
	border-radius: 37.5%;

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
}
