.app {
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(to right, #E7F1FD, #F8F4FD);
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 95vh;
	margin: 20px 20px 20px 100px;
	background-color: white;
	border-radius: 20px;
}

.mainView {
	flex: 6;
	flex-direction: column;
	display: flex;
	overflow: auto;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 'auto';
	height: 100px;
	margin: 20px;
	margin-top: 0px;
}

.responseView {
	flex: 1;
}

.loadingIndicator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
  }
  
  .navigation button {
	background-color: #007BFF;
	color: white;
	border: none;
	padding: 8px 12px;
	margin: 0 10px;
	cursor: pointer;
	font-size: 16px;
  }
  
  .navigation button:disabled {
	background-color: #cccccc;
	cursor: not-allowed;
  }
  
  .navigation span {
	font-size: 16px;
  }
  
