.mainView {
  display: flex;
  background-color: white;
  height: 1000px;
}

.open {
  margin-top: 5vh;
  height: 10vh;
  position: absolute;
  left: 250px
}

.close {
  margin-top: 5vh;
  position: absolute;
  height: 10vh;
  left: 20px
}