/* InputBar.module.css */

.container {
    flex: 8;
    margin-left: 10px;
  }
  
  .inputBar {
    /* Additional specific styles for the input bar can go here */
  }
  
  .button {
    border: none;
    background-color: #EEEEEE;
    border-radius: 10px;
    padding: 10px 30px;
    margin-right: 10px;
    font-size: 30px;
    cursor: pointer;
  }
  
  .button:hover {
    filter: brightness(0.8);
  }
  
  .textContainer {
    display: flex;
    flex-direction: row; /* Horizontal layout */
    justify-content: space-between;
    align-items: flex-end; /* Align items to the bottom */
    border: solid #D7D8DB 1px;
    border-radius: 10px;
    padding: 20px;
    height: auto; /* Ensure container adjusts to content height */
  }
  
  .textBox {
    width: 100%;
    min-height: 50px; /* Minimum height */
    max-height: 200px; /* Maximum height (adjust as needed) */
    resize: none; /* Prevent manual resizing */
    font-size: 40px;
    overflow: hidden; /* Hide scrollbars */
    outline: 0;
    border: none;
    margin-right: 10px; /* Spacing between text box and button */
    box-sizing: border-box; /* Include padding in width and height */
  }
  
  .buttonsContainer {
    display: flex; /* Horizontal layout for buttons */
    align-items: center; /* Align buttons vertically in the center */
  }
  