.container {
    flex: 8;
    margin-left: 10px;
}

.inputBar {
    /* Additional specific styles for the input bar can go here */
}

.button {
    border: none;
    background-color: #EEEEEE;
    border-radius: 10px;
    padding: 10px 30px;
    margin-right: 10px;
    font-size: 30px;
    cursor: pointer;
}

.button:hover {
    filter: brightness(0.8);
}

.textContainer {
    height: auto;
    display: flex;
    flex-direction: row; /* Ensures horizontal layout */
    justify-content: space-between;
    align-items: center; /* Align items vertically in the center */
    border: solid #D7D8DB 1px;
    border-radius: 10px;
    padding: 20px;
}

.textBox {
    width: 100%;
    height: 50px;
    resize: none;
    font-size: 40px;
    overflow-y: scroll;
    outline: 0;
    border: none;
    margin-right: 10px; /* Spacing between text box and buttons */
}

.buttonsContainer {
    display: flex; /* Ensures buttons are in a horizontal line */
    align-items: center; /* Aligns buttons vertically in the center */
}
