.responses {
	display: flex;
	margin-bottom: 0px;
	background-color: transparent;
}

.responsesList {
	width: 100%;
	height: 200px;
	flex-grow: 1;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	gap: 20px;
}

.response {
	background: #FEFEFE;
	color: #030303;
	border: 1px solid #CFC2FF;
	font-size: 1.5vw;
	text-align: left;

	width: 100%;
	height: 100%;
	flex-grow: 1;
	border-radius: 10px;
	padding: 15px;
	box-sizing: border-box;
	/* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(204, 7, 234, 0.19); */
}

.response:hover {
	background-color: #CFC2FF;
	font-style: italic;
}
