.app {
	width: 100vw;
	/* Makes the app take up the entire screen height, so the InputBar is on the bottom */
	height: 100vh;

	background-image: linear-gradient(to right, #E7F1FD, #F8F4FD);
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 95vh;
	margin: 20px 20px 20px 100px;
	background-color: white;
	border-radius: 20px;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 'auto';
	height: 100px;
	margin: 20px;
	margin-top: 0px;
}

.mainView {
	/* Makes the view grow to fit the space not used by the InputBar */
	flex-grow: 1;
	/* Makes the view shrink instead of hiding the InputBar when the screen height is small */
	min-height: 0px;
	display: flex;
	flex-direction: row;
	gap: 2px;
}
