# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.js
back-end/node_modules
back-end/dist

models/

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# for the openai api key should contain:
# { "apikey": "SUPERSECRETKEY" }
/src/openAIkey.json
.env

__pycache__/
venv/
```
vercel-backend/node_modules
