
/* Main Container Grid */
.layout {

    border: 1px solid white;

    height: 100%;

    display: grid;
    grid-template-columns: 1.4fr 0.6fr;
    grid-template-rows: 0.3fr 2.4fr 0.3fr;
    gap: 3px 3px;
    grid-auto-flow: row;
    grid-template-areas:
    "options responses-label"
    "conversation responses"
    "input input";
}

.layout > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
}

.grid_input {
    grid-area: input;

    background-color: aqua;

}

.grid_conversation {
    grid-area: conversation;
    background-color: blue;
}

.grid_options {
    grid-area: options;
    background-color: black;

    color: white;
}

.grid_responses {
    grid-area: responses;
    background-color: #D9D9D9;
}

.grid_responsesLabel {
    grid-area: responses-label;
    background-color: black;

    color: white;
}

/* End Main Container Grid */
