/* styles.module.css */

.boxContainer {
  display: flex;
  flex-direction: column;
}

.styledBox {
  width: 400px;
  height: 125px;
  flex-shrink: 0;
  border: 1px solid #007AFF; /* Updated border color */
  margin-bottom: 10px; 
  border-radius: 15.6px;
  background: #FEFEFE;
  margin: 10px; /* Added margin to the sides */
}
