.chat {
	width: 60%;
	height: 100%;

	display: flex;
	flex-direction: column;
	overflow: scroll;
}

.titleBar {
	background-color: black;
	font-size: 24px;
	position: fixed;
	width: 60%;
	height: 80px;
	/* The title bar should not shrink when the screen is small */
	min-height: 80px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.messagesList {
	background-color: white;
	font-size: 36px;

	width: 100%;
	flex-grow: 1;
	box-sizing: border-box;
	padding: 20px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 15px;
	margin-top: 100px;
}

.button {
	background-color: #007AFF;

	height: 10%;
	aspect-ratio: 1/1;
	border-radius: 37.5%;

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
}
