.inputBar {
	background-color: white;
	width: 98%;
	padding: 15px;
	border-top: solid #D7D7D7;
}

.button {
	border: none;
	background-color: transparent;
}

.button:hover {
	filter: brightness(0.8);
}

.buttonIcon {
	width: 80%;
	height: 80%;
}

.textContainer {
	padding: 10px 20px 10px 20px;
	width: 96%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #E5E5EA;
	border-radius: 40px;
}

.textBox {
	resize: none;
	width: 100%;
	margin-left: 20px;
	font-size: 30px;
	height: 70px; 
	overflow-y: scroll;
	/* get rid of default styling */
	background-color: transparent;
	border-style: none;
	outline: 0;
	margin-bottom: -90px;
}
