.inputBar {
	background-color: #F7F7F7;

	width: 100%;
	height: 100px;
	/* Should always stay the same size */
	min-height: 100px;
	padding: 20px;
	box-sizing: border-box;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	gap: 20px;
}

.button {
	background-color: #007AFF;

	height: 100%;
	aspect-ratio: 1/1;
	border-radius: 37.5%;

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
}
.button:hover {
	filter: brightness(0.8);
}

.buttonIcon {
	width: 45%;
	height: 45%;
}

.textBox {
	background-color: #E5E5EA;
	color: #515151;
	border: none;
	font-size: 16px;
	
	width: 100%;
	height: 100%;
	border-radius: 30px;
	padding-left: 50px;
	padding-right: 50px;
}
