.listenButton {
	background-color: #007AFF;
	font-size: 20px;
	color: white;

	/* Fixed in the top left corner so the Chat title can be centered */
	
	left: 20px;
	bottom: 130px;
	width: 80px;
	height: 80px;
	border-radius: 30px;
	
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;

	cursor: pointer;
}

.volumeIcon {
	height: 45%;
	aspect-ratio: 1/1;

	display: flex;
	justify-content: center;
	align-items: center;
}
