.responses {
	width: 40%;
	height: 100%;

	display: flex;
	flex-direction: column;
}

.responsesList {

	width: 100%;
	flex-grow: 1;
	padding: 20px;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	gap: 20px;
}

.response {
	background: #FEFEFE;
	color: #515151;
	border: 2px solid #007AFF;
	font-size: 16px;
	text-align: left;

	width: 100%;
	height: 100%;
	flex-grow: 1;
	border-radius: 20px;
	padding: 20px;
	box-sizing: border-box;
}
