.responses {
	width: 40%;
	height: 100%;

	display: flex;
	flex-direction: column;
}

.shroud {
	position: absolute;
	height: 87%;
	width: 100%;
	opacity: 0.5;
	background-color: black;
	display: flex;
	color: red;
}

.titleBar {
	background-color: black;
	font-size: 24px;
	color: white;

	width: 100%;
	height: 80px;
	/* The title bar should not shrink when the screen is small */
	min-height: 80px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.responsesList {
	background-color: #D9D9D9;

	width: 100%;
	flex-grow: 1;
	padding: 20px;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	gap: 20px;
}

.response {
	background: #FEFEFE;
	color: #515151;
	border: 2px solid #007AFF;
	font-size: 16px;
	text-align: left;

	width: 100%;
	height: 100%;
	flex-grow: 1;
	border-radius: 20px;
	padding: 20px;
	box-sizing: border-box;
}
