.App {
  text-align: center;
  background-color: '#c3e1e3';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MicInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.large-btn {
  height: 15vh;
  margin-left: 5px;
  margin-top: 8px;
  font-size: 32px;
  font-weight: bold;
  border-radius: 10px;
  color: white;
  width: 25%;
  box-shadow: 1px 3px rgba(0, 0, 0, .5);
  border: none;
}

.large-btn:hover {
  box-shadow: 1px 2px #ffffff;
}

.listen-btn {
  background-color: green;
}

.generate-btn {
  background-color: orange;
}

.play-btn {
  background-color: blue;
}

.clear-btn {
  background-color: red;
}

.listen-btn:hover {
  background-color: rgb(0, 100, 0);
}

.generate-btn:hover {
  background-color: rgb(134, 87, 0);
}

.play-btn:hover {
  background-color: rgb(0, 0, 100);
}

.clear-btn:hover {
  background-color: rgb(120,0,0);
}

#response-box {
  width: 100%;
  height: 30vh;
  border: 30px solid lightblue;
  background-color: lightblue;
  font-size: 15px;
  border-radius: 10px;
  text-align: center;
}

#text-input {
  width: 100%;
  height: 30vh;
  border: 30px solid lightblue;
  background-color: lightblue;
  font-size: 25px;
  border-radius: 10px;
  text-align: center;

}

.btn-container{
  display: flex;
  flex-direction: row;
  width: 100vw;
}