:root{
  --text-bg-color: #fdfdff;
  background-color: #444449;
}

.App {
  text-align: center;
  background-color: '#c3e1e3';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MicInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.large-btn {
  height: 15vh;
  margin: 16px 12px;
  font-size: 40px;
  font-weight: bold;
  border-radius: 10px;
  color: white;
  width: 25%;
  box-shadow: 2px 6px rgba(0, 0, 0, 1);
  border: none;
  background-color: #003dff;
}

.large-btn:hover {
  box-shadow: 0px 0px #000;
  background-color: #002FC8;

}



.text-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.text-box {
  width: calc(100vw - 196px);
  height: 25vh;
  padding: 32px;
  background-color: var(--text-bg-color);
  font-size: 32px;
  border-radius: 10px;
  text-align: center;
  margin: 16px;
  box-shadow: 2px 6px rgba(0, 0, 0, 1);
}

.btn-container{
  display: flex;
  flex-direction: row;
  width: calc(100vw - 64px);
  margin: 0 32px;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
}