.input_bar {
    display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 80px;
	padding: 20px;
}

.text_box {
    font-size: 40%;
	border-radius: 30px;
	padding-left: 50px;
	padding-right: 50px;
	height: 100%;
	width: 65%;
	background-color: #E5E5EA;
	border: none;
}


.button {
    width: 80px;
    height: 80px;
    aspect-ratio: 1/1;
    border-radius: 30px;
    background-color: #007AFF;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}
.button:hover {
	filter: brightness(0.8);
}

.button_icon {
    width: 45%;
	height: 45%;
	object-fit: contain;
}