.inputBar {
	background-color: #F7F7F7;

	position: fixed;
	bottom: 0;
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	padding: 20px;
	gap: 20px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.button {
	background-color: #007AFF;
	cursor: pointer;

	height: 100%;
	aspect-ratio: 1/1;
	border-radius: 37.5%;

	display: flex;
	align-items: center;
	justify-content: center;
}
.button:hover {
	filter: brightness(0.8);
}

.buttonIcon {
	width: 45%;
	height: 45%;
}

.textBox {
	background-color: #E5E5EA;
	border: none;
	
	width: 100%;
	height: 100%;
	border-radius: 30px;
	padding-left: 50px;
	padding-right: 50px;

	font-size: 20px;
}
