.input_bar {
	background-color: #F7F7F7;

	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 80px;
	padding: 20px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.button {
	background-color: #007AFF;
	cursor: pointer;

	height: 100%;
	aspect-ratio: 1/1;
	border-radius: 37.5%;
	margin-left: 20px;
	margin-right: 20px;

	display: flex;
	align-items: center;
	justify-content: center;
}
.button:hover {
	filter: brightness(0.8);
}

.button_icon {
	width: 45%;
	height: 45%;
}

.text_box {
	background-color: #E5E5EA;
	border: none;
	
	width: 100%;
	height: 100%;
	border-radius: 30px;
	padding-left: 50px;
	padding-right: 50px;

	font-size: 40%;
}
